* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  width: 100%;
}

header .hcontainer {
  max-width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

header .hcontainer .header__logo {
  background-image: url(/planteplaneter/assets/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 269px;
  height: 123px;
  margin: 14px 0 22px 0;
}

header .hcontainer .header__navigation {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

header .hcontainer .header__navigation .header__nav-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

header .hcontainer .header__navigation .header__nav-item:hover {
  font-size: 16px;
}

.parallax {
  width: 100%;
  height: 540px;
  background-image: url(/planteplaneter/assets/parallax.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.shop {
  width: 100%;
  padding: 70px 0 80px 0;
}

.shop .shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .shop__container .shop__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.shop .shop__container .shop__item-row .shop__item {
  width: 560px;
  height: 300px;
  border: black solid 1px;
}

.shop .shop__container .shop__item-row .shop__item .shop__gradient {
  position: absolute;
  width: 560px;
  height: 300px;
  background-color: #3aad5b;
  opacity: 0.3;
  z-index: 2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.shop .shop__container .shop__item-row .shop__item .shop__background-workshops {
  width: 100%;
  height: 100%;
  background: url(/planteplaneter/assets/workshops.png);
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.shop .shop__container .shop__item-row .shop__item .shop__background-about {
  width: 100%;
  height: 100%;
  background: url(/planteplaneter/assets/about.png);
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .shop__container .shop__item-row .shop__item .shop__background-contact {
  width: 100%;
  height: 100%;
  background: url(/planteplaneter/assets/contact.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .shop__container .shop__item-row .shop__item .shop__background-spaces {
  width: 100%;
  height: 100%;
  background: url(/planteplaneter/assets/spaces.png);
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .shop__container .shop__item-row .shop__item .shop__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 73px;
  color: #FFFFFF;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.shop .shop__container .shop__item-row .shop__item:hover .shop__gradient {
  opacity: 0;
}

.shop .shop__container .shop__center {
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: #ffffff;
  margin: 182px 0 0 0;
  z-index: 3;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.shop .shop__container .shop__center .shop__center-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 73px;
  color: #3A6516;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.shop .shop__container .shop__center:hover {
  border: #3A6516 solid 1px;
  border-radius: 50%;
}

.quote {
  width: 100%;
  height: 351px;
  margin: 0 0 100px 0;
}

.quote .quote__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote .quote__container .quote__text-box {
  padding: 65px 120px 50px 120px;
  background: rgba(250, 250, 250, 0.9);
  border-radius: 21px;
  z-index: 1;
  margin: 84px 0 0 0;
  position: relative;
}

.quote .quote__container .quote__text-box .quote__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.quote .quote__container .quote__text-box .quote__hooks {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  top: 10px;
  left: 200px;
}

.quote .quote__container .quote__img {
  z-index: 0;
  position: absolute;
  right: 0px;
  width: 654px;
  height: 351px;
  background-image: url(/planteplaneter/assets/quote.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.quote .quote__container .quote__img .quote__gradient {
  position: absolute;
  width: 654px;
  height: 351px;
  background-color: #3aad5b;
  opacity: 0.3;
}

.contact {
  margin: 100px 0 0 0;
  width: 100%;
  background: rgba(166, 186, 150, 0.42);
  -webkit-box-shadow: 0px -7px 5px 0px rgba(34, 60, 80, 0.2) inset;
          box-shadow: 0px -7px 5px 0px rgba(34, 60, 80, 0.2) inset;
}

.contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0 0;
  position: relative;
}

.contact .contact__container .contact__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  z-index: 1;
}

.contact .contact__container .contact__navigation .contact__nav-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contact .contact__container .contact__navigation .contact__nav-item:hover {
  color: #ffffff;
}

.contact .contact__container .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact .contact__container .contact__info .contact__info-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  z-index: 1;
}

.contact .contact__container .contact__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.contact .contact__container .contact__registration .contact__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  z-index: 1;
}

.contact .contact__container .contact__registration .contact__input {
  padding: 0 0 0 5px;
  background: #A6BA96;
  width: 368px;
  height: 40px;
  font-size: 25px;
  z-index: 1;
  color: white;
}

.contact .contact__container .contact__registration .contact__button {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D4EEDB;
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 275;
  font-size: 25px;
  line-height: 54px;
  color: #000000;
  width: 170px;
  padding: 5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.contact .contact__container .contact__registration .contact__button:hover {
  color: white;
  border-radius: 30px;
  background: #A6BA96;
}

.contact .contact__container .contact__registration .contact__cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0 0 24px auto;
  z-index: 1;
}

.contact .contact__container .contact__registration .contact__cards-box .contact__card {
  width: 38px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact .contact__container .contact__img {
  right: 100px;
  bottom: -86px;
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url(/planteplaneter/assets/contact-plant.png);
  background-size: 107%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

footer {
  width: 100%;
  height: 86px;
}

footer .fcontainer {
  max-width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fcontainer .footer__copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  z-index: 1;
}

footer .fcontainer .footer__terms {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  z-index: 1;
}

.workshops {
  width: 100%;
  height: 512px;
  background-image: url(/planteplaneter/assets/workshops-page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.workshops .workshops__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workshops .workshops__container .workshops__text {
  margin: 156px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.workshops .workshops__container .workshops__text .workshops__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 82px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.workshops .workshops__container .workshops__text .workshops__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.workspace {
  width: 100%;
  margin: 80px 0 0 0;
}

.workspace .workspace__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.workspace .workspace__container .workspace__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: #000000;
}

.workspace .workspace__container .workspace__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.workspace .workspace__container .workspace__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workspace .workspace__container .workspace__item .workspace__img {
  width: 400px;
}

.workspace .workspace__container .workspace__item .workspace__item-text {
  margin: 40px 0 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.workspace .workspace__container .workspace__item .workspace__item-text .workspace__item-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  color: #000000;
}

.workspace .workspace__container .workspace__item_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.registation {
  margin: 70px 0 0 0;
  width: 100%;
  background-image: url(/planteplaneter/assets/registration.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.registation .registation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registation .registation__container .registation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registation .registation__container .registation__text .registation__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  text-align: right;
  color: #000000;
}

.registation .registation__container .registation__text .registation__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #000000;
}

.registation .registation__container .registation__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 110px 0 90px 0;
}

.registation .registation__container .registation__inputs input {
  border: 1px solid #23232B;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: black;
  background-color: transparent;
  padding: 10px 13px;
  width: 400px;
}

.registation .registation__container .registation__inputs .registation__textarea {
  border: 1px solid #23232B;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: black;
  background-color: transparent;
  padding: 10px 13px;
  width: 400px;
  height: 160px;
  resize: none;
}
